VITE_SUPABASE_URL=https://lopdwftuzlmilhbgiidb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxvcGR3ZnR1emxtaWxoYmdpaWRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0MjExNTIsImV4cCI6MjA5MDk5NzE1Mn0.TnDUfx07YWjqsCtMS77m-BUldoDMyrOCAEn7u3depSA
